/*  */
/*  BEGIN SHARED STYLES  */

@font-face {
  font-family: 'Lato Light';
  src: url('../fonts/lato.light.ttf'); 
}

@font-face {
  font-family: 'Lato Medium';
  src: url('../fonts/lato.medium.ttf'); 
}

@font-face {
  font-family: 'Lato Semibold';
  src: url('../fonts/lato.semibold.ttf'); 
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato Light';
  height: 100%;
  text-align: center;
  margin: 0;
  color: #708090;
}

h1 {
  font-family: 'Lato Semibold';
  font-size: 2rem;
  color: #708090;
  padding: 20px 0 0;
  margin-bottom: 12px;
}

h2 {
  margin-top: -1%;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.button {
  min-width: 175px;
  height: 45px;
  padding: 0 20px;
  border: 1px solid;
  border-color: #ED5565 #FFCE54 #48CFAD #4FC1E9;
  background-color: white;
  border-radius: 0.5vw;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color:  #708090;
  outline: none;
  transition: all .15s;
  white-space: nowrap;
}

.red {
  color: #ED5565;
}

.green {
  color: #48CFAD;
}

.background {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.background:nth-child(odd) {
  background-color: #F0FFFF;
}

.content {
  min-height: 100vh;
  max-height: 900px;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* END SHARED STYLES */
/*  */

/*  */
/* BEGIN INTRO STYLES - PAGE 1*/
.content--intro {
  padding-bottom: 112px;
}

.subtitle {
  font-size: 1.25rem;
  font-family: 'Lato Medium';
}

.preview {
  height: auto;
  width: 100%;
  max-width: 700px;
  margin: 50px auto 40px;
  display: block;
}
/* END INTRO STYLES - PAGE 1 */
/*  */

/*  */
/* BEGIN CONTRIBUTE LINKS - PAGE 2 */
.content--contribute {
  min-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.contribute, .contribute__link {
  display: flex;
  justify-content: center;
}

.contribute {
  flex-direction: column;
}

.contribute__link {
  margin: 10px 0;
}

@media (min-width: 420px) {
  .contribute {
    flex-direction: row;
  }
  .contribute__link {
    margin: 0 20px;
  }
}
/* END CONTRIBUTE LINKS - PAGE 2 */
/*  */

/*  */
/* BEGIN CREATORS - PAGE 3 */
.created-by {
  margin: 60px 0 0 0;
}
.creator {
  min-width: 100px;
  font-family: 'Lato Medium';
  margin: 60px 0;
}

.face {
  border-radius: 50%;
  border: 1px solid #708090;
  width: 70%;
  max-width: 150px;
  max-height: 150px;
}
@media (min-width: 480px) {
  .content--creation {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .creators {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .creator {
    width: 30%;
  }
}
/* END CREATORS PAGE - PAGE 3 */
/*  */
